.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-disabled-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed {
  display: none;
}

.autoWidth {
  width: auto !important;
}

.container {
  width: 50rem;
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 4rem;
  background-color: var(--color-secondary);
  border-bottom: 3px solid var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0 var(--padding-big);

  > div {
    color: var(--color-primary);
  }
}

.footer {
  height: 4rem;
  background-color: var(--color-secondary);
  border-top: 3px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-big);

  > *:last-child {
    margin-left: var(--padding-normal);
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: var(--padding-big);
}
