.screen {
  height: calc(100vh - var(--header-height) - var(--header-bottom-line-height));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-biggest) 0 var(--padding-bigger);
}

.screenNav {
  margin-left: var(--nav-width);
}
