.loader {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;

  > div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border: 0.5rem solid var(--color-primary-lighter);
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-primary-lighter) transparent transparent
      transparent;

    > :nth-child(1) {
      animation-delay: -0.45s;
    }

    > :nth-child(2) {
      animation-delay: -0.3s;
    }

    > :nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
