.table {
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-spacing: 0;
  font-size: var(--font-size-smaller);
  color: var(--color-secondary);
}

.th {
  border-bottom: 3px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
  padding: var(--padding-small) 0;
  font-weight: normal;

  background-color: var(--color-primary);
}

.tr {
  background-color: var(--color-base);

  > *:last-child {
    border-right: 0;
  }
}

.trOdd {
  background-color: var(--color-primary-lightest);
}

.td {
  border-right: 1px solid var(--color-secondary);
  padding: var(--padding-small) 0;
  text-align: center;
}
