.label {
  font-size: var(--font-size-big);
  color: var(--color-secondary);
  outline: none;
}

.labelSmaller {
  font-size: var(--font-size-smaller);
}

.labelSmall {
  font-size: var(--font-size-small);
}

.labelNormal {
  font-size: var(--font-size-normal);
}

.labelBig {
  font-size: var(--font-size-big);
}

.labelBigger {
  font-size: var(--font-size-bigger);
}
