.container {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-lighter);
  border: 1px solid var(--color-primary-dark);
}

.content {
  padding: var(--padding-big);
  height: calc(100% - var(--padding-big));
}

.title {
  padding-bottom: var(--padding-small);
  margin-bottom: var(--padding-normal);
  border-bottom: 3px solid var(--color-secondary);
  display: flex;
  justify-content: space-between;
}
