.Toastify__toast {
  padding-left: 1rem;
}
.Toastify__toast--success {
  background-color: var(--color-primary-darker);
}
.Toastify__toast--warning {
  background-color: var(--color-warning);
}
.Toastify__toast--error {
  background-color: var(--color-error);
}
