.lineCheckboxContainer {
  display: flex;
  align-items: center;
  padding-top: var(--padding-normal);
}

.lineContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-normal);
}

.line {
  width: 2rem;
  border-bottom: 5px solid;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
