/*  TODO : vymysliet ako vytvorit pekny scrollbar */
/* Hide scrollbar for IE, Edge and Firefox */
.container {
  border-top: 1px solid var(--color-primary-dark);
  max-height: 25.75rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  width: 100%;
  font-size: var(--font-size-normal);
  border: 1px solid var(--color-primary-dark);
  border-top: none;
  outline: none;
  cursor: pointer;
  padding: var(--padding-small) 0;
  background-color: var(--color-primary-lighter);
  color: var(--color-secondary);

  &:hover {
    background-color: var(--color-primary);
  }
}

.itemActive {
  background-color: var(--color-primary);
}
