.container {
  display: flex;
  height: 100%;

  > div {
    margin: var(--padding-biggest) 0;
    padding: 0 var(--padding-bigger);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.desc {
  border-right: 3px solid var(--color-primary);

  > div {
    text-align: end;
  }
}

.descContent {
  padding: var(--padding-bigger) 0;

  > div {
    padding: var(--padding-small) 0;
  }
}

.descModuleName {
  font-weight: bold;
}
