.container {
  height: var(--screen-header-height);
  border-bottom: 3px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
}
