.input {
  width: calc(100% - 2 * var(--padding-normal));
  border: none;
  background: none;
  outline: none;
  padding: var(--padding-small);
  font-size: var(--font-size-normal);
  color: var(--color-secondary);
}

.inputContainer {
  margin: var(--padding-normal) 0;
  border-bottom: 3px solid var(--color-secondary);
  min-height: 4rem;
}

.error {
  border-bottom-color: var(--color-error);

  > div {
    color: var(--color-error);
  }

  > input {
    color: var(--color-error);
  }
}

.errorText {
  color: var(--color-error);
  margin-top: -0.5rem;
}
