.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  > div {
    padding-left: var(--padding-small);
  }
}

.buttonPrimary {
  fill: var(--color-primary);

  &:hover {
    fill: var(--color-primary-dark);

    > div {
      color: var(--color-primary-dark);
    }
  }

  > div {
    color: var(--color-primary);
  }
}

.buttonSecondary {
  fill: var(--color-secondary);

  &:hover {
    fill: var(--color-secondary-opacity);

    > div {
      color: var(--color-secondary-opacity);
    }
  }

  > div {
    color: var(--color-secondary);
  }
}
