.container {
  margin-left: var(--padding-normal);
  overflow: hidden;
}

.content {
  padding-top: var(--padding-small);
  margin-bottom: var(--padding-normal);
  height: 88%;
  display: flex;
  flex-direction: column;

  > :first-child {
    margin-bottom: var(--padding-normal);
  }
}
