.wrapper {
  height: 19.5rem;
}
.container {
  background-color: var(--color-base);
  border: 1px solid var(--color-primary-dark);
  padding: var(--padding-normal);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  padding: var(--padding-small);
}
