.container {
  margin-top: var(--padding-normal);
}

.content {
  display: flex;
  height: 75%;
}

.items {
  width: 100%;
  padding-right: var(--padding-normal);
  border-right: 3px solid var(--color-secondary);
}

.desc {
  width: 100%;
  padding-left: var(--padding-normal);
  padding-top: var(--padding-small);
  white-space: pre-wrap;
}
