.buttonPrimary {
  min-width: 7.5rem;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-small) var(--padding-normal);
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.buttonSecondary {
  min-width: 7.5rem;
  border: 3px solid var(--color-primary);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-small) 0;
  cursor: pointer;
  background: none;

  &:hover {
    border: 3px solid var(--color-primary-dark);

    > div {
      color: var(--color-primary-dark);
    }
  }

  > div {
    color: var(--color-primary);
  }
}

.disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;

  &:hover {
    background-color: var(--color-disabled);
  }

  > div {
    color: var(--color-base);
  }
}

.buttonSmall {
  height: 2.125rem;
  padding: var(--padding-smaller) var(--padding-normal);
}

.buttonSmallLabel {
  font-size: var(--font-size-small);
}

.buttonAutoWidth {
  width: 100%;
}
