.form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerLinks {
  padding-top: var(--padding-normal);
  display: flex;
  flex-direction: column;

  > * {
    padding: var(--padding-smallest) 0;
  }
}

.fields {
  padding: var(--padding-big) 0;
}
