.selectPlantContainer {
  display: flex;
}

.selectPlantPicker {
  width: 40%;
  padding-right: var(--padding-big);
}

.selectPlantSelected {
  width: 60%;
  border-left: 1px solid var(--color-primary);
  padding-left: var(--padding-big);
}

.selectPlantSelectedLabel {
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: var(--padding-normal);
}
