@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

:root {
  --color-base: #f2f2f2;
  --color-secondary: #182628;
  --color-secondary-opacity: rgba(24, 38, 40, 0.75);
  --color-primary-lightest: #d8f2ed;
  --color-primary-lighter: #b2e5db;
  --color-primary-light: #8bd8c9;
  --color-primary: #65ccb8;
  --color-primary-dark: #57ba98;
  --color-primary-darker: #3b945e;
  --color-disabled: #b9bbb6;
  --color-disabled-opacity: rgba(185, 187, 182, 0.75);
  --color-error: #c62828;
  --color-warning: #f1c40f;

  --font-size-smaller: 15px;
  --font-size-small: 20px;
  --font-size-normal: 25px;
  --font-size-big: 30px;
  --font-size-bigger: 35px;

  --padding-smallest: 0.125rem;
  --padding-smaller: 0.25rem;
  --padding-small: 0.5rem;
  --padding-normal: 1rem;
  --padding-big: 1.5rem;
  --padding-bigger: 2.5rem;
  --padding-biggest: 4rem;

  --header-height: 3.5rem;
  --header-bottom-line-height: 5px;
  --nav-width: 15rem;
  --screen-header-height: 5rem;
}

/* Ferifox - removed outline from buttons, links */
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-base);
}

input,
button,
div {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
