.addRoomContainer {
  display: flex;
  align-items: center;
  padding-bottom: var(--padding-big);
  border-bottom: 1px solid var(--color-primary);
}

.addRoomInput {
  margin: 0;
  width: 100rem;
  margin-right: var(--padding-big);
}

.selectRoomContainer {
  display: flex;
}

.selectRoomPicker {
  width: 40%;
  padding-top: var(--padding-big);
  padding-right: var(--padding-big);
}

.selectRoomSelected {
  width: 60%;
  border-left: 1px solid var(--color-primary);
  padding-top: var(--padding-big);
  padding-left: var(--padding-big);
}

.selectRoomSelectedLabel {
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: var(--padding-normal);
}

.selectRoomTable {
  padding-top: var(--padding-big);
}

.selectRoomTableLabel {
  padding-bottom: var(--padding-small);
}
