.container {
  width: 32px;
  height: 32px;
  border: 3px solid var(--color-secondary);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

  &:hover {
    fill: var(--color-secondary-opacity);
  }
}
