.container {
  align-self: flex-start;
  width: 100%;
  height: calc(
    100vh - var(--header-height) - var(--screen-header-height) -
      var(--header-bottom-line-height) - 2 * var(--padding-bigger) - 3px
  );
}

.headerContainer {
  display: flex;
}

.headerLabel {
  padding-right: var(--padding-big);
}

.widgets {
  display: flex;
  height: 100%;
  margin: var(--padding-bigger) 0;
}

.infoWidgets {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: var(--padding-normal);
}

.statsWidgets {
  display: flex;
  height: 100%;
  margin-bottom: var(--padding-normal);
}

.todoWidget {
  margin-left: var(--padding-normal);
}
