.header {
  padding: 0 var(--padding-big);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary);
  border-bottom: var(--header-bottom-line-height) solid var(--color-primary);
  height: var(--header-height);
  position: sticky;
  top: 0;
}

.headerLabel {
  color: var(--color-primary);
}

.userHeader {
  display: flex;

  > *:last-child {
    margin-left: var(--padding-big);
  }
}
