.nav {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  width: var(--nav-width);
  height: calc(100vh - var(--header-height) - var(--header-bottom-line-height));
  list-style-type: none;
  position: fixed;
}

.navItem {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > * {
    color: var(--color-secondary-opacity) !important;
  }

  &:hover {
    background-color: var(--color-primary-light);

    > * {
      color: var(--color-secondary) !important;
    }

    &::before {
      position: fixed;
      left: 0;
      height: 5rem;
      background-color: var(--color-secondary);
      width: 10px;
      content: "";
    }
  }
}

.navItemActive {
  background-color: var(--color-primary-light);

  > * {
    color: var(--color-secondary) !important;
  }

  &::before {
    position: fixed;
    left: 0;
    height: 5rem;
    background-color: var(--color-secondary);
    width: 10px;
    content: "";
  }
}
